

.bar {
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    width: 100%;
}

.mobile-menu.active {
    display: block;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 38px;
    height: 30px;
    cursor: pointer;

}
.toggle-content {
    display: none;

}
.toggle-content img{
    display: none;

}
.toggle-content p{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 1px;
    color: #3c3e41;
    margin-bottom: 50px;
    margin-top: 20px;
}

.bar {
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    width: 100%;
}
.social-icons3{
    display: none;
}
.find3{
    display: none;
}

/* Mobile Navigation Menu */




@media (max-width: 768px) {
    .menu-toggle {
        display: flex; /* Show the toggle button on mobile */
        position: fixed;
        top: 20px;
        right: 25px;
        z-index: 1100;
    }
    .toggle-content{
        display: block;
    
    }
    .toggle-content img{
        display: block;
     

  

    
    }
    .social-icons3{
        display: inline;
    }
    .find3{
        display: inline;
        position: relative;
        bottom: -5%;
        left: 3%;

    }
    .find3 h2{
        font-family: Poppins, sans-serif;
        color: #1e2125;
        font-size: 14px;
        font-weight: 500;
        line-height: 26.6px;
        letter-spacing: 2px;
        font-style: normal;
        text-transform: uppercase;
    }
    .social-icons3{
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
    .social-icons3 a{
    
        font-size: 20px;
        color: white; 
        width: 50px;
        text-decoration: none;
        background: #ffffff;
        padding: 15px;
        border-radius: 10%; 
        transition: all 0.4s ease-in-out;
    
    }
    .social-icons3 a:hover{
    
        background: linear-gradient(90deg, #af16a3, #feb47b); /* Gradient colors */
        color: white; 
        transform: scale(1.1); 
      }
    


    .mobile-menu {
        display: none; 
        background-color: #e6ebef;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        z-index: 1000;
        padding-top: 60px;
        overflow-y: auto;
        max-height: 100vh;
    }
    .mobile-menu ul {
        list-style-type: none;
        text-align: center;
    }
    
    .mobile-menu li {
        margin: 20px 0;
    }
    
    .mobile-menu a {
        text-decoration: none;
        color: #3c3e41;
        text-transform: uppercase;
        margin-bottom: 19px;
        text-align: center;
        flex-flow: wrap;
        display: flex;
        justify-content: start;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 2px;


    }
    .active2{
        padding: 47px 160px;
    }
    .heading-parent{
        gap: 0px;

    }
    .footer-parent{
        flex-flow: wrap;

    }
    .quik{
        margin-bottom: 26px;
    }
    .form-content5 {
        display: block;
    }
    
    .form-parent{
        flex-direction: column;
    }
    .parent-blog{
        gap: 10px;
        flex-flow: wrap;
    }
    .parent-of-nf{
        flex-direction: column;
    }
    .carousel-slide{
        flex-direction: column;
        padding: 0;
    }
    .navbar{
        flex-direction: column;
    }
    .container-cards2{
        /* flex-direction: column; */
        flex-flow: wrap;
    }
    .heading-parent{
        flex-direction: column;
    }
    .heading h1{
        font-size: 24px;
    }
    .banner{
        /* flex-direction: column; */
        /* padding: 0 25px; */
        flex-direction: column-reverse;
    }
    .banner-parent{

        max-height: fit-content;
    }
    .card5{
        width: 100%;
    }
 
    .parent-container{
        justify-content: start;
    }
    .child2{
        padding-left: 5px;
        gap: 10px;
        /* width: 197px; */

    }
    .shop-button img{
        width: 25px;
        height: 25px;
    }
    .shop-button2{
        font-size: 10px;
        padding: 15px 10px;
    }
    .shop-button{
        font-size: 10px;
        padding: 15px 10px;
    }

    .img-div{
        padding: 0 5px;
    }
    .butoons{
        top:500px;
    }
    .model img{
        width: 100%;
        height: auto;
    }
    .carousel-heading4 h1{
        font-size: 40px;
    }
    .navb{
        width: 100%;
        padding: 40px 94px;
    }
    .navbar2{
        width: 100%;
    }
    .card-container{
        padding: 0 5px;
        flex-flow: wrap;
    }
    .rating2{
        position: static;
        font-size: 8px;

    }
    .carousel-heading h1{
        font-size: 30px;
    }
    .rating{
        position: absolute;
        top: 77px;
        right: 44px;
        font-size: 8px;

    }
    
    
}